<div class="main-menu-dd js-dropdown__body js-tooltip-position">
	<div class="main-menu-dd__container grid">
		<div class="main-menu-dd__cell-links col">
			<div class="main-menu-dd__links js-main-menu-links">
				<folded-menu-header name="@@name" back close-main-menu-dd></folded-menu-header>

				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading main-menu-dd__link--icon js-main-menu-links__item">
						<span class="main-menu-dd__link-icon">
							<svg class="svg-icon"><use xlink:href="#svg-icon-placeholder"></use></svg>
						</span>
						<span class="main-menu-dd__link-title">Подарки и наборы</span><sup>1</sup>
					</a>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Глаза</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Глаза" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Туши для ресниц</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для глаз</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Подводки для глаз</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Тени для век</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Основы и базы для теней</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для бровей</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Гели/воски и тени для бровей</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Лицо</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Лицо" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Пудры</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Румяна</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Базы и основы для макияжа</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Маскирующие средства</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Бронзаторы и йлайтеры</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Тональные кремы</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Аксессуары</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Аксессуары" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Кисти для лица</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Кисти для теней</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Брови</span><sup>10</sup>
					</a>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Коррекция ресниц</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Коррекция ресниц" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Пудры</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Румяна</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Базы и основы для макияжа</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Маскирующие средства</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Губы</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Губы" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Помады</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Блески</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для губ</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Лицо</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Лицо" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Пудры</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Румяна</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Базы и основы для макияжа</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Маскирующие средства</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Бронзаторы и йлайтеры</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Тональные кремы</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Губы</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Губы" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Помады</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Блески</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для губ</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Глаза</span><sup>10</sup>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Глаза" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Туши для ресниц</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для глаз</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Подводки для глаз</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Тени для век</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Основы и базы для теней</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Карандаши для бровей</span><sup>1</sup>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Гели/воски и тени для бровей</span><sup>1</sup>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		@@if(context.product) {
		<div class="main-menu-dd__cell-product col">
			<product 
				link="#" 
				image="https://placehold.it/170x170/e6e6e6/e95420/" 
				:status="[{name: 'Статус 1', class: 'product__status--new'}, {name: 'Статус 1', class: 'product__status--hit'}]"
				brand="Бренд" 
				name="Маска подтягивающая для лица и вокруг" 
				price="89,91" 
				price-old="120,25"></product>
		</div>
		}
		@@if(context.banners) {
		<div class="main-menu-dd__cell-banners col">
			<div class="banners-block">
				<div class="banners-block__grid grid">
					<div class="col col-lg-12">
						@@include("source/components/block-banner/w-text/template.html", {
							"image": "https://placehold.it/195x140/e6e6e6/e95420/",
							"h4": "Дополнительно до 30%",
							"sm": true
						})
					</div>
					<div class="col col-lg-12">
						@@include("source/components/block-banner/default/template.html", {
							"image": "https://placehold.it/195x140/e6e6e6/e95420/",
							"sm": true
						})
					</div>
					<div class="col col-lg-12">
						@@include("source/components/block-banner/default/template.html", {
							"image": "https://placehold.it/195x140/e6e6e6/e95420/",
							"sm": true
						})
					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>