
<div class="brands grid default-grid">
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Make Up Factory"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Maison Martin"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Margiela"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Clinique"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Estée Lauder"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Bobbi Brown"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Artdeco"})
	</div>
	<div class="brands__item default-grid__item col col-lg-3 col-sm-4 col-2xs-6 col-4xs-12">
		@@include("source/components/brand/default/template.html", {"name": "Max Factor"})
	</div>
</div>