
<div class="page-prefooter">
	<div class="container">
		<div class="page-prefooter__row">
			<div class="page-prefooter__item page-prefooter__item--sub">
				<subscription></subscription>
			</div>
			<div class="page-prefooter__item page-prefooter__item--social">
				<div class="label-action">
					<div class="label-action__label">
						<h4 class="label-action__label-txt">Следите за нами в соцсетях</h4>
					</div>
					<div class="label-action__action">
						<div class="social-links">
							<a href="#" class="social-links__item social-link social-link--facebook">
								<svg class="svg-icon">
									<use xlink:href="#svg-icon-soc-facebook"></use>
								</svg>
							</a>
							<a href="#" class="social-links__item social-link social-link--vkontakte">
								<svg class="svg-icon">
									<use xlink:href="#svg-icon-soc-vkontakte"></use>
								</svg>
							</a>
							<a href="#" class="social-links__item social-link social-link--instagram">
								<svg class="svg-icon">
									<use xlink:href="#svg-icon-soc-instagram"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>