/nbproject/*
dbconn.php
.settings.php
/gavron.php
/bitrix
/test.php
/bitrix/components/bitrix/
/todo
/robots.txt
*.sql
*.tar
*.zip
*.mp4
*.DS_Store
*.sublime-project
*.sublime-workspace
package-lock.json
/upload/*
/.htaccess
/.idea/
/nbproject
/node_modules
/.sass-cache
/browscap.ini
