
<slider-products :options="{autoplay: false, autoplaySpeed: 3500}">
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-1.jpg" 
			:status="[{name: '+ Подарок', type: 'gift'}, {name: '-45%', type: 'sale'}]"
			brand="Бренд" 
			name="Маска подтягивающая для лица и вокруг" 
			price="89,91" 
			price-old="120,25"
			:rating="{value: 10, count: 21}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-2.jpg" 
			:status="[{name: 'Новинка', type: 'new'}, {name: 'Эксклюзив', type: 'exclusive'}]"
			brand="Бренд" 
			name="Маска подтягивающая для лица и вокруг" 
			price="89,91"
			:rating="{value: 88, count: 3}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-3.jpg" 
			brand="CLARINS" 
			name="SUPER RESTORATIVE Восстанавливающий, увлажняющий и смягчающий дневной крем для любого типа кожи" 
			price="89,91"
			:rating="{value: 76, count: 21}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-1.jpg" 
			:status="[{name: 'Новинка', type: 'new'}, {name: 'Хит', type: 'hit'}]"
			brand="Бренд" 
			name="Маска подтягивающая для лица и вокруг" 
			price="89,91" 
			price-old="120,25"
			:rating="{value: 45, count: 21}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-2.jpg" 
			:status="[{name: 'Подарок', type: 'gift'}]"
			brand="Бренд" 
			name="Маска подтягивающая для лица и вокруг" 
			price="89,91"
			:rating="{value: 66, count: 21}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
	<div class="product-slide slick-side-offset-item">
		<product 
			product-id="111"
			link="#" 
			image="/local/images/markup-images/products/product-md-3.jpg" 
			:status="[{name: 'Подарок', type: 'gift'}]"
			brand="Бренд" 
			name="Маска подтягивающая для лица и вокруг" 
			price="89,91"
			:rating="{value: 81, count: 21}"
			show-buy-button
			show-fav-button
			show-quick-view></product>
	</div>
</slider-products>