<div class="main-menu-dd js-dropdown__body js-tooltip-position">
	<div class="main-menu-dd__container grid">
		<div class="main-menu-dd__cell-links col js-main-menu-bookmarked-col">
			<div class="main-menu-dd__links js-main-menu-links">
				<folded-menu-header name="Бренды" back close-main-menu-dd></folded-menu-header>

				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="default">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">Самые популярные</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="Самые популярные" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">YRES</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Abercrombie &amp; Fitch</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Alaia Paris</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Alessandro</span>
							</a>
						</div>
					</div>
				</div>

				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="A">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">A</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="A" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Abercrombie &amp; Fitch</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Alaia Paris</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Alessandro</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Alterna</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Anastasia Beverly Hills</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Atelier Cologne</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Aveda</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Azzaro</span>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="B">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">B</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="B" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">BECCA</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Babyliss</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Baija</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Balenciaga</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Beauty Blender</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Benefit Cosmetics</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Boss</span>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="C">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">C</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="C" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Cbercrombie &amp; Fitch</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Claia Paris</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Clessandro</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Clterna</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Cnastasia Beverly Hills</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Ctelier Cologne</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Cveda</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Czzaro</span>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="D">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">D</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="D" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dbercrombie &amp; Fitch</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dlaia Paris</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dlessandro</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dlterna</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dnastasia Beverly Hills</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dtelier Cologne</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dveda</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Dzzaro</span>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="E">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">E</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="D" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Ebercrombie &amp; Fitch</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Elaia Paris</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Elessandro</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Elterna</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Enastasia Beverly Hills</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Etelier Cologne</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Eveda</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">Ezzaro</span>
							</a>
						</div>
					</div>
				</div>
				<div class="main-menu-dd__link-group js-main-menu-links__group" data-bookmark="#">
					<a href="#" class="main-menu-dd__link main-menu-dd__link--heading js-main-menu-links__item">
						<span class="main-menu-dd__link-title">#</span>
					</a>
					<div class="main-menu-dd__link-group-sub js-main-menu-links__group-sub">
						<folded-menu-header name="D" back close-main-menu-group></folded-menu-header>
						
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">2pac</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">50 Cent</span>
							</a>
						</div>
						<div class="main-menu-dd__link-row">
							<a href="#" class="main-menu-dd__link js-main-menu-links__item">
								<span class="main-menu-dd__link-title">8 Ball</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-menu-dd__cell-bookmarks col">
			<div class="main-menu-dd-bookmarks">
				<div class="main-menu-dd__link main-menu-dd__link--static main-menu-dd__link--heading">
					<span class="main-menu-dd__link-title">Бренды</span>
				</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark active" data-bookmark="A">A</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="B">B</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="C">C</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="D">D</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="E">E</div>
				<div class="main-menu-dd-bookmarks__item js-main-menu-links__bookmark" data-bookmark="#">#</div>
			</div>
		</div>
	</div>
</div>