/* --- rich form row --- */
.rich-form-row{margin-bottom: 20px;}
.rich-form-row:last-child{margin-bottom: 0;}
/*.rich-form-row--check + .rich-form-row--check{margin-top: -10px;}*/
.rich-form-row--hidden{display: none;}