
<div class="tags">
	<div class="tags-group flc">
		<h3 class="tags-group__title flc">Макияж для лица</h3>
		<div class="tags-group__list">
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Эконом-класс</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Оптимальная цена</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Суперкачество</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Скидки</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Эксклюзив</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Легкие тональные средства</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
		</div>
	</div>
	<div class="tags-group flc">
		<h3 class="tags-group__title flc">Макияж для глаз</h3>
		<div class="tags-group__list">
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Эконом-класс</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Оптимальная цена</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Суперкачество</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Новинки</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Эксклюзив</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
			<div class="tags-group__item">
				<a href="#" class="link link--undecorated link--like-text">
					<span class="link__text">Модные цвета сезона 2017</span>
					<sup class="link__sup">15</sup>
				</a>
			</div>
		</div>
	</div>
</div>