.catalog-list-main__top-box {
  display: flex;
  justify-content: space-between;
}
.page-title-block .page-title {
  line-height: 30px;
}
.catalog-top-params {
  width: auto;
  margin: 0;
}

@media (max-width: $screen-sm-max) {
  .catalog-list-main__top-box {
    display :block;
  }
  .page-title-block .page-title {
    margin: 15px 0;
  }
}